<h1>Welcome to Pup Shop Boys!</h1>
<p>Where you can spend all your money on your pups!</p>

<% if params[:cat_id] %>
  <h3>All <%= @category.name.titleize %></h3>
<% else %>
  <h3>All Products</h3>
<% end %>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= image_tag product.image.url(:thumb), class: "img-responsive" %>
          <p>
            <a href="#" data-toggle="modal" data-target="#productModal<%= product.id %>">
              <span class="glyphicon glyphicon-plus"></span> quick info
            </a>
          </p>
          <p>
            <strong><%= number_to_currency product.price %></strong>
          </p>
          <h4><%= product.name %></h4>
          <p>Made by: <%= product.brand.try(:name) %></p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="productModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
          </div>
          <div class="modal-body">
            <%= image_tag product.image.url(:medium), class: "img-responsive" %>
            <p><strong><%= number_to_currency product.price %></strong></p>
            <p><%= product.description %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>


